{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
Авторизация
{% endblock %}
{% block content %}
<div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card" style="width: 40rem;">
        <div class="card-header">
          Войти в систему
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'backend:login' %}" novalidate>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="OK" class="btn btn-primary mt-3">
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Модальное окно -->
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ошибка авторизации</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Не удалось войти в аккаунт. Неверный логин или пароль.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Показываем модальное окно, если есть ошибка авторизации
  $(document).ready(function () {
    var errorMessage = "{{ error_message }}";
    if (errorMessage !== "") {
      $('#errorModal').modal('show');
    }
  });
</script>

{% endblock %}