{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
Авторизация
{% endblock %}
{% block content %}
<div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card" style="width: 40rem;">
        <div class="card-header">
          Войти в систему
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'backend:login' %}" novalidate>
            {% csrf_token %}
            <div style="display: flex; flex-direction: column;">
              {{ form }}
            </div>
            <input type="submit" value="OK" class="btn btn-primary mt-3">
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Модальное окно -->
  {% if with_error %}
  <div class="modal" id="myModal" data-bs-backdrop="static" data-bs-focus="false" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ошибка авторизации</h5>
            </div>
            <div class="modal-body">
                <p>Не удалось войти в аккаунт. Неверный логин или пароль.</p>
            </div>
            <div class="modal-footer">
                <button id="myModalBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
  </div>
  {% endif %}
</div>

<script>
  // Показываем модальное окно, если есть ошибка авторизации
  let modal = document.querySelector('#myModal');
  let modalBtn = document.querySelector('#myModalBtn');
  function closeModal(){
    modal.style.display = 'none';
  }
  modalBtn.addEventListener('click',closeModal);
</script>

{% endblock %}